body{
  font-family: "Pretendard", sans-serif;
  font-size: 1.6rem;
  color: #000;
  line-height: 1.5;
}
.inner{
  max-width: 1200px;
  margin: 0 auto;
}

/*header*/
header{
  background: linear-gradient(259deg,#4ba2f6 8%,#3c7bfd 30%,#3e5fea 50%,#4052eb 70%,#643edf);
}
header .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 img{
  width: 80px;
}
header .utill{
  display: flex;
  gap: 20px;
}

/*menu*/
.gnb{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  text-align: center;
  padding: 30px 0;
}
.gnb li img{
  width: 60%;
}
.gnb li span{
  display: block;
}

/*slide*/
.slide img{
  width: 100%;
  border-radius: 30px;
}


/*tab*/
.tab{
  margin: 100px 0;
}
.tab-btn{
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.tab-btn a{
  background-color: #ddd;
  padding: 10px 30px;
  border-radius: 50px;
}
.tab-btn a.active{
  background-color: #000;
  color: #fff;
}
.list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.list img{
  width: 100%;
  border-radius: 30px;
}


/*footer*/
footer{
  background-color: #eee;
  color: #666;
  padding: 50px 0;
  font-size: 1.4rem;
}
footer address{
  font-style: normal;
  margin: 20px 0;
}
footer span::after{
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #aaa;
  margin: 0 10px;
}
footer span.no-line::after{
  content: none;
}